@import "../../helpers/color.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    z-index: 0;
    a {
      color: $font-primary;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .search-bar {
    width: 50%;
    display: flex;
    justify-content: center;

    form {
      display: flex;
      justify-content: center;
      width: 70%;

      input {
        border-radius: 0px;
        outline: none;

        &:focus {
          box-shadow: none;
        }
      }

      button {
        padding: 0px 8px;
        font-size: 20px;
        cursor: pointer;
        border: none;
      }
    }
  }

  .user {
    display: flex;

    z-index: 0;

    img {
      width: 38px;
      height: 38px;
    }
  }
}
