@import "../src/helpers/color.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #0f171e !important;
}
